.Share {
    align-content: center;
}

.Share-header {
    background-color: #f7f7f4;
    /* background-image: url(../images/img_intro.png); */
    background-repeat: no-repeat;
    background-position: center;
    min-height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #000000;
}