.Intro {
    background-color: #282c34;
    background-image: url(../images/img_intro.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Intro-names {
    text-align: center;
    font-size: calc(12px + 8vmin);
    color: #010b0c;
    font-family: Cafe24Shiningstar;
}

.Intro-message {
    margin-top: 0.5em;
    text-align: center;
    font-size: calc(12px + 4vmin);
    color: #010b0d;
    font-family: Cafe24Shiningstar;
}

@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}