.Message {
    background-color: #ffffff;
    align-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Message-header {
    min-height: 55vh;
}

.Message-title {
    font-size: calc(14px + 2vmin);
    font-weight: bold;
    color: #3E3E3E;
    margin-top: 3.2em;
}

.Message-message {
    font-size: calc(12px + 2vmin);
    color: #919191;
    margin-top: 1.2em;
    line-height: 1.75em;
    margin-bottom: 3.2em;
}